/* Generic */

/*

* {
    border: 1px solid gainsboro;
}

*/

html {
    font-size: 62.5%;  /*root size is now 10px */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    font-size: 1.6rem;
    padding: 0.8rem;
    background-color: snow;
    color: black;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
    margin-bottom: 0.3rem;
}

p {
    font-size: 1.6rem;
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: gray;
}

img {
    width: 100%;
    height: auto;
}

/* Header and navigation */

header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
}

.title-nav {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 3rem;
}

@media (max-width: 550px) {
    .title-nav {
        flex-direction: column;
        gap: 0.8rem
    }
    
    header {
        flex-direction: column;
    }
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
    font-size: 1.6rem;
}

.dm-button {
    color: white;
    background-color: black;
    padding: 0.8rem;
    border-radius: 0.8rem;
}

.dm-button:hover {
    cursor: pointer;
    text-decoration: none;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

#sun {
    display: none;
}

#moon {
    display: inline-block;
}

.title:hover {
    text-decoration: none;
}

.title:visited {
    color: black;
}

/* Main */

section {
    min-width: 30rem;
    margin-bottom: 2rem;
}

.flex-container {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.image {
    flex-basis: 10rem;
    flex-grow: 1;
    align-self: center;
}

.text {
    flex-basis: 20rem;
    flex-grow: 1;
}

.me {
    border-radius: 1rem;
}

/* --- Footer --- */

footer {
    margin: 0 auto;
}

#quote {
    font-size: 1.2rem;
    font-style: italic;
}