/* Generic */

/*

* {
    border: 1px solid gainsboro;
}

*/

@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');
:root {

    /* Color Palette */

    --dark-color-1: rgb(22,22,24);
    --dark-color-2: rgb(33, 33, 36);
    --dark-color-3: rgb(129,129,129);

    --header-footer-color: lightgray;
    --header-footer-backgroundColor: black;

    --main-color: black;
    --main-backgroundColor: white;

    --emphasis-color-1: peru;
    --emphasis-color-2: #3fcdc8;
    --emphasis-color-3: #833fcd;

    --sun-display: none;
    --moon-display: inline-block;

    --lightLogo-display: inline;
    --darkLogo-display: none;

    --article-backgroundColor: rgb(232, 232, 232);
    --article-backgroundColor: var(--dark-color-1);

}

html {
    font-size: 62.5%;  /*root size is now 10px */
    font-family:sans-serif;
    text-rendering: optimizeLegibility;
}

body {
    font-size: 1.6rem;
    background-color: var(--main-backgroundColor);
    color: var(--main-color);
    --max-width: 65rem;
    --line-height: 2rem;
    --padding : 1.5rem
}

h1 {
    font-family: 'Racing Sans One', Georgia, serif;
    font-size: 3.2rem;
}

h2 {
    font-family: 'Racing Sans One', Georgia, serif;
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

h3 {
    font-family: 'Racing Sans One', Georgia, serif;
    font-size: 2.0rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.6rem;
    line-height: var(--line-height);
    margin-bottom: 0.7rem;
}

a {
    color: var(--main-color);
    text-decoration: underline;
    text-decoration-color: var(--emphasis-color-2);
}

@media (hover:hover) {
    a:hover {
        text-decoration: none;
    }
}

a:visited {
    color: var(--main-color);
}

img {
    width: 100%;
    height: auto;
}

strong {
    font-weight: 600;
}

i {
    font-style: italic;
}

li {
    line-height: var(--line-height);
    margin-top: 0.7rem;
}

ul {
    margin-bottom: 0.7rem;
}

/* Body */

.body-container {
    display: flex;
    flex-direction: column;
    min-height: 100svh; /* 100% of viewport (s for small as in smallest initial height, better for mobile ui */
    background-color: var(--article-backgroundColor);
}

/* Header and navigation */

header {
    background-color: var(--main-backgroundColor);
    margin-bottom: 2rem;
    position: sticky;
    top: 0;
    z-index: 10;
    min-width: 32rem;
    border-bottom: 0.01rem solid black;
}

header a {
    text-decoration: none;
    color: var(--main-color);
}

header a:visited {
    color: var(--main-color);
}

@media (hover:hover) {
    header a:hover {
        text-decoration: none;
        color: var(--emphasis-color-2);
    }
}

.header-container {
    margin: 0 auto;
    padding: var(--padding);
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: var(--max-width);
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 1.5rem;
    align-items:center;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
    font-size: 1.6rem;
}

.dm-button {
    font-size: 1.8rem;
    padding: 0.5rem;
    border: 0.1rem solid var(--main-color);
    border-radius: 2rem;
}

.dm-button:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--main-color);
    color: var(--main-backgroundColor);
    transition: ease-out 0.5s;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

#sun {
    display: var(--sun-display);
}

#moon {
    display: var(--moon-display);
}

.title a {
    color: var(--main-color);
}

.title a:hover {
    text-decoration: none;
}

.title a:visited {
    color: var(--main-color);
}

.title-mobile {
    display: none;
}

@media (max-width: 515px) {
    .header-container {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    nav ul {
        font-size: 1.5rem;
    }

    .title {
        display: none;
    }

    .title-mobile {
        display: inline;
    }

    nav {
        flex-direction: row;
    }
}

/* Main */

main {
    justify-content: center;
    padding: var(--padding);
    display: flex;
    gap: 3rem;
    padding-bottom: 2.5rem;
}
    
section {
    flex-basis: var(--max-width);
    padding: var(--padding);
    background-color: var(--main-backgroundColor);
    border-radius: 2rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2rem;
}

.image {
    flex-basis: 20rem;
    flex-grow: 1;
    align-self: center;
}

.text {
    flex-basis: 32rem;
    flex-grow: 3;
}

.me {
    border-radius: 1.5rem;
}

article, .frame {
    background-color: var(--article-backgroundColor);
    padding: var(--padding);
    border-radius: 1.5rem;
}

.list-level-1 {
    padding-left: 1.8rem;
    list-style-type: disc;
}

.list-level-2 {
    padding-left: 2rem;
    list-style-type: square;
}

#projects .image {
    display: none;
}

#contact .image {
    display: none;
}

.banner-quote {
    color: var(--main-color);
    text-align: center;
    padding: 2rem 1rem;
    max-width: 40rem;
    margin: 0 auto;
}

#quote {
    font-size: 1.2rem;
    font-style: italic;
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    display: none;
}

/* --- Footer --- */

footer {
    background-color: var(--main-backgroundColor);
    margin-top: auto;
    display: flex;
    min-height:fit-content;
    align-items: center;
}

.footer-container {
    margin: 0 auto;
    padding: var(--padding);
    display: flex;
    gap: 2.5rem;
    max-width: var(--max-width);
    min-height: 3.5rem;
    flex-direction: row;
    align-items:center;
    /*border-top: 0.01rem solid black;*/
}

.external-logo {
    height: 2.5rem;
    width: auto;
}

.GitHubLight {
    display: var(--lightLogo-display);
}

.GitHubDark {
    display: var(--darkLogo-display);
}