@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    /* Color Palette */

    --dark-color-1: rgb(22,22,24);
    --dark-color-2: rgb(33, 33, 36);
    --dark-color-3: rgb(129,129,129);

    --header-footer-color: lightgray;
    --header-footer-backgroundColor: black;

    --main-color: black;
    --main-backgroundColor: white;

    --emphasis-color-1: peru;
    --emphasis-color-2: #3fcdc8;
    --emphasis-color-3: #833fcd;

    --sun-display: none;
    --moon-display: inline-block;

    --lightLogo-display: inline;
    --darkLogo-display: none;

    --body-backgroundColor: rgb(232, 232, 232);
    --max-width: 80rem;
    --line-height: 2rem;
    --padding : 1.5rem;

}

html {
    font-size: 62.5%;  /*root size is now 10px */
    font-family: 'Jost', sans-serif;
    text-rendering: optimizeLegibility;
}

@media screen and (min-width: 750px) {
    :root {
        --padding: 3rem;
    }
}

/* Generic */

h1 {
    font-size: 2.6rem;
    font-weight: 900;
}

h2 {
    font-size: 2.4rem;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 1rem;
}

h2:last-child {
    margin-bottom: 0;
}

h3 {
    font-size: 2.0rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

h3:last-child {
    margin-bottom: 0;
}

p {
    font-size: 1.6rem;
    line-height: var(--line-height);
    margin-bottom: 0.7rem;
    max-width: 45rem;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: var(--main-color);
    text-decoration: underline;
    text-decoration-color: var(--emphasis-color-2);
}

@media (hover:hover) {
    a:hover {
        text-decoration: none;
    }
}

a:visited {
    color: var(--main-color);
}

img {
    max-width: 100%;
    height: auto;
}

strong {
    font-weight: 600;
}

i {
    font-style: italic;
}

li {
    line-height: var(--line-height);
    margin-top: 0.7rem;
}

ul {
    margin-bottom: 0.7rem;
}

ul:last-child {
    margin-bottom: 0;
}

/* Structure */

body {
    font-size: 1.6rem;
    background-color: var(--body-backgroundColor);
    color: var(--main-color);
}

div.body-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% of viewport */
    gap: 2rem;
}

@media (max-width:515px) {
    .body-container {
        min-height: 100svh; /* 100% of viewport (s for small as in smallest initial height, better for mobile ui */
        gap: 0rem;
    }
}

div.header-container {
    max-width: var(--max-width);
    margin-bottom: var(--padding);
    margin: 0 auto;
    display: flex;
    gap: var(--padding);
    padding: var(--padding);
    justify-content: space-between;
}

div.main-container {
    padding: var(--padding);
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

div.footer-container {
    padding: var(--padding);
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: var(--padding);
}

/* header */

nav {
    display: flex;
    gap: 1.8rem;
    align-items:center;
}

div.buttons {
    display: flex;
    align-items: center;
    gap: var(--padding);
}

header a {
    text-decoration: none;
    color: var(--main-color);
}

header a:visited {
    color: var(--main-color);
}

@media (hover:hover) {
    header a:hover {
        text-decoration: none;
        color: var(--emphasis-color-2);
    }
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1.8rem;
    list-style: none;
    font-size: 1.6rem;
}

button.dm-button {
    background-color: var(--main-backgroundColor);
    color: var(--main-color);
    font-size: 1.4rem;
    border: transparent;
    border-radius: 2rem;
    height: 3.5rem;
    width: 3.6rem;
    text-align: center;
}

@media (hover:hover) {
    button.dm-button:hover {
        cursor: pointer;
    }
}

a.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

#sun {
    display: var(--sun-display);
}

#moon {
    display: var(--moon-display);
}

@media (max-width: 560px) {

    nav ul {
        font-size: 1.5rem;
        display: flex;
        gap: 1.5rem;
    }

    nav {
        flex-direction: row;
    }
}

/* main */

article {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

section.text {
    flex-grow: 5;
}

section.text.banner {
    align-self: center;
}

section.card {
    border-radius: 2rem;
    background-color: var(--main-backgroundColor);
    padding: var(--padding);
    flex-basis: 30rem;
    flex-grow: 1;
}

section.card.center {
    text-align: center;
}

section.text.banner {
    flex-grow: 1;
}

section.card.banner {
    align-self: center;
    flex-basis: 15rem;
    flex-grow: 1;
}

div.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding);
    justify-content: space-between;
}

section.image {
    overflow: hidden;
    justify-self: left;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 15rem;
}

section.image img {
    border-radius: 2rem;
}

ul.list-level-1 {
    padding-left: 1.8rem;
    list-style-type: disc;
}

ul.list-level-2 {
    padding-left: 2rem;
    list-style-type: square;
}

#quote {
    font-size: 1.2rem;
    font-style: italic;
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    display: none;
}

/* footer */

img.external-logo {
    height: 2.5rem;
    width: auto;
}

a.GitHubLight {
    display: var(--lightLogo-display);
}

a.GitHubDark {
    display: var(--darkLogo-display);
}